/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
    background-color: #3c3c3c;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: beige;
}

h1 {
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    color: beige;
    font-weight: 100;
    font-size: 190%;
}

#navbar {
    list-style-type: none;
    font-size: 130%;
}

.active{
    border-bottom: 1px solid beige;
}

/* Navbar styles with dropdown button */
nav {
    position: absolute;
    background-color: #3c3c3c;
    left: 0;
    display: none;
    top: 100%;
    width: 100%;
}

/* Nav button */
#nav-button:checked~nav {
    display: block;
}

#nav-button {
    display: none;
}

.nav-button-label {
    font-size: 2em;
    color: #690101;
}

/* Main content */
main {
    background-color: #b3aeae;
    /* Make main element take up any surplus space and push footer down */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Hero section */
#hero {
    height: 800px;
    width: 100%;
    background: url("../images/D-Day\ main\ image.webp") no-repeat center center/cover;
}

#hero-image-cover {
    background-color: rgba(180, 180, 180, 0.7);
    height: 100%;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    color: #690101;
    padding-left: 1em;
}

/* Gallery page */
#photos img {
    width: 100%;
}

#photos {
    background-color: #b3aeae;
}

/* Footer */
footer {
    background-color: #690101;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 170%;
    color: beige;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        width: 100%;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1em;
        font-size: 110%;
    }

    #navbar {
        display: flex;
    }

    #navbar li {
        padding-left: 1em;
    }

    .nav-button-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 80px;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 80px;
    }

    /* Gallery */
    #photos {
        column-count: 2;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #navbar a:hover {
        border-bottom: 1px solid beige;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
}