/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
    background-color: #3c3c3c;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: beige;
}

h1 {
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    color: beige;
    font-weight: 100;
}

#navbar {
    list-style-type: none;
    font-size: 130%;
}

.active{
    border-bottom: 1px solid beige;
}

/* Navbar styles with dropdown button */
nav {
    position: absolute;
    background-color: #3c3c3c;
    left: 0;
    display: none;
    top: 100%;
    width: 100%;
}

/* Nav button */
#nav-button:checked~nav {
    display: block;
}

#nav-button {
    display: none;
}

.nav-button-label {
    font-size: 2em;
}

/* Main content */
main {
    background-color: #918e8e;
    /* Make main element take up any surplus space and push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #690101;
}